<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoImpl" class="dao.UserDaoImpl" />

    <bean id="userService" class="service.UserService">
        <property name="UserDao" ref="userDaoImpl" />
    </bean>

    <bean id="userAction" class="actions.UserAction" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
</beans>
